.index-auction {
    width: 100%;
}
    .index-auction h3 {
        margin: 5px 0;
        font-weight: bold;
        font-size: 14px;
    }
    .index-auction p {
        line-height: 20px;
    }

    .index-auction .left {
        float: left;
        background: #fff;
        width: calc(50% - 21px);
        padding:5px 10px;
        border-right: 1px solid #eee;
    }

        .index-auction .left img {
            max-width: 70px;
            float: right;
            padding: 9px 0;
            height: 40px;
        }

        .index-auction .left p {
            font-size: 12px;
            color: #777;
        }

    .index-auction .right {
        float: left;
        background: #fff;
        width: 50%;
    }

        .index-auction .right .single {
            padding: 5px 10px;
            border-bottom: 1px solid #eee;
        }

        .index-auction .right img {
            padding-right: 10px;
            float: right;
            height: 40px;
        }

        .index-auction .right p {
            font-size: 12px;
            color: #777;
        }

.auction-end {
    width: 100%;
    margin-top: 10px;
    background: #fff;
    text-align: center;
    padding: 10px 0;
}

    .auction-end .img {
        width: 14px;
        height: 14px;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: text-top;
    }

.tv-auction {
    font-size: 14px;
    background: #fff;
}
.tv-auction .tile{
    border: 1px solid #a1a1a1;
    font-size: 14px;
    /*height: 220px;*/
    background: #fff;
}
    .tv-auction .image {
        height: 85px;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: block;
    }

    .tv-auction .p1 {
        font-size: 12px;
        position: absolute;
        background-color: black;
        color: white;
        opacity: 0.6;
        padding: 2px 8px;
        width: 100%;
        text-align: right;
        height:20px;
        top: 65px;
    }
    .tv-auction .p2 {
        font-size: 12px;
        height: 20px;
        width: 100%;
        padding: 5px 8px;
        text-align: left;
        overflow: hidden;
        background: #fff;
    }
    .tv-auction .p3 {
        font-size: 10px;
        padding: 0 8px;
        color: #F66417;
        height: 15px;
        text-align: left;
        background: #fff;
    }

.auction .dx-texteditor-container {
    border: 0px solid #e2d1b6;
    /*border-bottom: 1px solid #e2d1b6;*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    overflow: hidden;
}
.auction-text-line {
    border-bottom: 1px solid #e2d1b6;
}
.location-font {
    color:red;
    font-size:22px;
}




.auction-detail {
    width: 100%;
    background: #fff;
    padding: 15px 0;
}

    .auction-detail .detail-headimg {
        width: 20%;
        float: left;
        text-align: center;
    }

        .auction-detail .detail-headimg img {
            width: 60%;
            text-align: center;
        }

    .auction-detail .detail-right {
        width: 80%;
        float: left;
        padding-right: 15px;
    }

        .auction-detail .detail-right p {
            line-height: 20px;
        }

        .auction-detail .detail-right .p1 {
            font-weight: 700;
        }

        .auction-detail .detail-right .p2 span {
            font-size: 10px;
            margin-top: 3px;
            padding: 2px 5px;
            margin-right: 5px;
            border: 1px dotted #777;
            color: #777;
            border-radius: 5px;
        }

        .auction-detail .detail-right .p3 {
            width: 100%;
            margin-top: 10px;
            font-size: 12px;
        }

        .auction-detail .detail-right .img-list {
            margin-top: 10px;
        }

            .auction-detail .detail-right .img-list img {
                width: 30%;
                margin-right: 1.25%;
                height: 70px;
            }

        .auction-detail .detail-right .p4 {
            text-align: right;
            margin-right: 10px;
            color: rgb(215, 191, 153);
        }

            .auction-detail .detail-right .p4 img {
                width: 17px;
                padding-bottom: 0;
                vertical-align: text-top;
            }

        .auction-detail .detail-right .p5 span {
            color: rgb(255,108,108);
            font-size: 12px;
        }

        .auction-detail .detail-right .p5 .s2 {
            float: right;
            font-size: 12px;
        }

.auction-detail-btn {
    width: 100%;
    background: rgb(215, 191, 153);
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 8px 0;
    border: 0;
    margin: 5px 0;
}

.auction-detail .detail-right .p6 {
    color: #777;
    font-size: 12px;
    text-align: center;
}

    .auction-detail .detail-right .p6 span {
        border: 1px solid #777;
        padding: 0;
        font-size: 12px;
        margin-left: 20px;
    }

.chujia-list {
    margin-top: 5px;
    background: #eee;
}

    .chujia-list .single {
        padding: 6px 0 3px 0;
        border-bottom: 1px solid #ccc;
    }

    .chujia-list img {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        padding: 0px 5px;
    }

    .chujia-list .text-right {
        float: left;
        padding-top: 3px;
        padding-left: 5px;
        width: calc(100% - 60px);
    }

        .chujia-list .text-right p {
            line-height: 25px;
            font-size: 12px;
            width: 100%;
        }

        .chujia-list .text-right .t1 span {
            font-size: 14px;
            right: 25px;
            position: absolute;
            margin-top: -2px;
            font-weight: 700;
        }

        .chujia-list .text-right .t1 .s1 {
            color: rgb(255,108,108);
            font-size: 14px;
        }

        .chujia-list .text-right .t1 .s2 {
            color: #777;
            font-size: 14px;
        }

        .chujia-list .text-right .t2 {
            width: 100%;
            color: rgb(255,108,108);
        }

            .chujia-list .text-right .t2 span {
                font-size: 12px;
                float: right;
                margin-right: 10px;
                margin-top: 3px;
                color: #777;
            }

.auction-detail-shuoming {
    margin-top: 10px;
    background: #fff;
    font-size: 12px;
}

    .auction-detail-shuoming .text-head {
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
    }

    .auction-detail-shuoming p {
        padding: 8px 15px 0 15px;
        line-height: 0;
    }

    .auction-detail-shuoming .single {
        padding: 5px 0 10px 0;
    }

    .auction-detail-shuoming p img {
        width: 15px;
        vertical-align: text-top;
        margin-right: 10px;
    }

    .auction-detail-shuoming .p0 {
        color: #777;
        font-size: 10px;
        margin-left: 25px;
        padding-top: 12px !important;
        padding-bottom: 0px !important;
    }