
.purchase-tile {
    /*border-bottom: 1px solid #eee;*/
    background: #fff;
}

.category-header {
    background: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.purchase-list {
    background: #fff;
    margin-top: 10px;
}

    .purchase-list .single {
        /*line-height: 70px;
        height: 70px;*/
        overflow: hidden;
    }

        .purchase-list .single img {
            width: 50px;
            height: 50px;
            margin-top: 10px;
            /*padding: 0 15px;*/
            float: left;
        }

        .purchase-list .single .center {
            float: left;
            margin-top: 10px;
        }

            .purchase-list .single .center .p1 {
                font-size: 16px;
                color: rgb(215, 191, 153);
            }

            .purchase-list .single .center .p2 {
                color: #666;
            }

            .purchase-list .single .center p {
                line-height: 25px;
            }

        .purchase-list .single .right {
            float: right;
            margin-top: 10px;
            margin-right: 15px;
            font-size: 13px;
            color: #666;
        }

.detail-name {
    margin-top: 10px;
    background: #fff;
    padding: 10px 15px;
}

    .detail-name .p2 {
        font-size: 12px;
    }

    .detail-name p {
        line-height: 20px;
    }

        .detail-name p span {
            color: rgb(215, 191, 153);
        }
.detail-message {
    background: #fff;
    margin-top: 10px;
    padding: 0 15px;
}

    .detail-message .single {
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .detail-message h2 {
        padding-top: 10px;
        padding-bottom: 2px;
    }

    .detail-message p {
        padding: 3px 0;
        font-size: 12px;
        color: #666;
    }
.foot-btn {
    background: rgb(215, 191, 153);
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
/** 发布页面 **/
.purchase-add-index {
    margin-top: 10px;
    background: #fff;
}

    .purchase-add-index .single {
        border-bottom: 1px solid #eee;
        height: 60px;
        line-height: 60px;
    }

        .purchase-add-index .single img {
            height: 40px;
            padding: 0 15px;
            margin-top: 10px;
        }

        .purchase-add-index .single span {
            float: right;
            line-height: 60px;
            background: url("../../icon/right.png");
            background-size: 20px;
            background-position: right 10px center;
            background-repeat: no-repeat;
            padding-right: 35px;
        }